:root {
    --bgColor: #1b1f24;
}

.explain-page {
    height: 100vh;
    width: 100%;
    background: var(--bgColor);
}

.languages-section {
    height: 75vh;
    width: 100%;
    margin-top: 5rem;
    display: flex;
    justify-content: space-around;
}

.language {
    width: 40vw;
    position: relative;
}

#outputExplanation {
    border: 1px solid #4F4F4F;
    border-radius: 8px;
    background-color: #2a3139;
}

#outputExplanationContent {
    margin: 2rem;
    color: white;
    font-size: 1.5rem;
    font-weight: 100;
}

#clipboard {
    position: absolute;
    right: 0;
    width: 25px;
    top: 20px;
    padding: 2px 5px;
    border-radius: 5px;
    background-color: #ffffff;
    display: block;
}

#clipboard:hover {
    cursor: pointer;
}


.code-editor {
    height: 65vh;
    width: 40vw;
    margin-top: 2rem;
    border-radius: 1rem;
    border: 1rem solid #4F4F4F;
}


.generate-btn {
    position: absolute;
    bottom: 5rem;
    left: 50%;
    transform: translate(-50%, 0);
    color: white;
    background-color: #F16279;
    border: none;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 2rem;
    font-weight: 600;
    border-radius: 1rem;
}

.generate-btn:hover {
    bottom: 4.8rem;
    cursor: pointer;
    transition: ease-in;
    transition-duration: 50ms;
    box-shadow: 2px 2px 10px rgba(36, 36, 36, 0.51);
}